<h1>Sign Up</h1>

<%= render(partial: "errors/errors", locals: { model: @user }) %>

<%= form_with model: @user, url: signup_attempt_path do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %><br>
  <%= f.label :email %>
  <%= f.text_field :email %><br>
  <%= f.label :password %>
  <%= f.text_field :password %><br>

  <br><br>
  <%= f.submit "Sign Up" %>
<% end %>