<h1>Create a New Image</h1>

<%
=begin%>
 <% if @image.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

    <ul>
      <% @image.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %> 
<%
=end%>

<%= render(partial: "errors/errors", locals: { model: @image }) %>

<%= form_with model: @image do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  <%= f.label :description %>
  <%= f.text_field :description %><br>
  <%= f.label :image_url %>
  <%= f.text_field :image_url %><br>

  <br>
  <h3>Select a Collage</h3>
  <%= f.collection_select(:collage_id, Collage.all, :id, :name, prompt: true) %>

  <%
=begin%>
 <br><br>
  <h3>Create a Collage</h3>
  <%= f.fields_for :collage do |c| %>
    <%= c.label :name %>
    <%= c.text_field :name %><br>
    <%= c.label :description %>
    <%= c.text_field :description %><br>
  <% end %> 
<%
=end%>

  <br><br>
  <%= f.submit "Create Image" %>
<% end %>
